* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kvadrat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    border: 5px solid #000;
    margin: 10px;
    margin-top: 15%;
}
.kvadrat_1 {
    display: flex;
    height: 300px;
    width: 350px;
    margin: 10px;
    border: 5px solid #000;
}